body {
    height: 100vh;
    margin: 40px 0px 0px 0px;
    background-color: #d658d8;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.display {
    display: flex;
    left: 50%;
    align-items: center;
    justify-content: center;
    font-family: "nunito","poppins", sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: white;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
}

p {
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    height: 30px;
    width: 80px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #3b85ed;
    font-family: "nunito","poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: white;
    box-shadow: 
    1px 1px 0px #497ac0,
    2px 2px 0px #274063,
    3px 3px 0px #3b5982,
    4px 4px 0px #4c668c;

    margin: 8px;
    transition-duration: 100ms;
    transition-property: all;
}
button:hover {
    box-shadow: none;
    transform: translate3d(4px, 4px, 0px);
    background-color: #224f8f;
    transition-duration: 100ms;
    transition-property: all;
}

h1 {
    background-color: #58c9e3;
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: "nunito", "poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-shadow: 3px 3px 0px rgba(150, 150, 150, 1);
    border-radius: 10px;
    box-shadow: 3px 3px 0px rgb(179, 101, 0);
}

#header {
    width: 100%;
    height: 100px;
    position: sticky;
}

#lapRecord {
    margin-top: 20px;
}

#laps {
    scroll-behavior: smooth;
    background-color: #6b98d1;
    border-radius: 6px;
    height: 15rem;
    font-family: "nunito", "poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 
    3px 3px 0px rgba(150, 150, 150, 1);

    text-align: center;
    color: white;
    overflow-y: scroll;
    box-shadow: 4px 4px 0px #be7016;
}
#laps::-webkit-scrollbar {
    width: 10px;
}
#laps::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
}
#laps::-webkit-scrollbar-thumb {
    background-color: #3b85ed;
    border-radius: 6px;
}
#laps::-webkit-scrollbar-thumb:hover {
    background-color: #224f8f;
    border-radius: 6px;
}

.display {
    padding: 0px 20px;
    border: 4px solid white;
    border-radius: 16px;
}